
h1, h2, h3, h4, h5 {
  display: block;
  padding-top: 2rem;
}
h1, h2 {
  font-size: 1.8rem;
  padding-top: 1rem;
  font-weight: 800;
}
h3 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}